body {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(2, 166, 120);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

b {
  font-size: 32px;
  color: black;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 45px;
}
.motywPierwszy {
 background-color:  rgb(2, 166, 120);
 min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.motywDrugi {
  background-color: rgb(red, green, blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.button
{
  width: 18px;
  height: 18px;
  border: 2px solid black;
  background: white;
}

.buttonChange
{
  background:#008000 !important ;
  
}
.☑ {
  width: 18px;
  height: 18px;
  border: 2px solid black;
  background: white;
}

.abc
{
  width: 30px;
  height: 30px;
  
  border: 1px solid red;
  background: white;
}

.black
{
  background: black !important;
}